
<section class="section_index">


<div class="logo_image">
<%= image_tag("logo.png", class: "logo", style: "width: 100px;") %>
</div>

<div class="buttons_login">
<%= button_to "LOG IN", new_user_session_path, method: :get, class: "root_botom login1" %>
<%= button_to "SING UP", new_user_registration_path, method: :get, class: "root_botom"%>
</div>
</section>