<div id="<%= dom_id budget %>">
  <p>
    <strong>Name:</strong>
    <%= budget.budget.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= budget.budget.amount %>
  </p>
  

  <%= button_to "Destroy this budget", group_budget_path(params[:group_id],:id => budget.budget.id), method: :delete %>

  

</div>
