<section>
<header>
<%= link_to image_tag("back.png", class: "logo", style: "width: 100px;") ,  groups_path %>

adsdas
</header>
<h1>New group</h1>

<%= render "form", group: @group %>

<br>

<div>
  <%= link_to "Back to groups", groups_path %>
  
</div>

</section>