@import "../application.css";

.section_index {
  width: 348px;
  max-width: 767px;
  display: flex;
  flex-wrap: wrap;
  height: 535px;
  border: 3px solid #f1f3f2;
}

.root_botom {
  background: none;
  border: none;
  width: 100%;
  height: 50px;
  border-top: 1px solid #d7d8db;
  font-weight: 400;
  border-bottom: 1px solid #d7d8db;
  color: #b7bcc2;
  background-color: #000;
}

.login1 {
  background-color: #3678c2;
}

.logo {
  width: 38%;
  height: 100px;
  margin-top: 50%;
}

.root_botom a {
  list-style: none;
}

.buttons_login {
  height: 18%;
  width: 100%;
}

.logo_image {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
}
