@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
}

.notice {
  width: 237px;
  text-align: center;
  margin: 0;
}

.logo {
  margin-top: 8%;
}

p {
  margin: 0;
}


.section_index {
  width: 348px;
  max-width: 767px;
  display: flex;
  flex-wrap: wrap;
  height: 535px;
  border: 3px solid #f1f3f2;
}

.root_botom {
  background: none;
  border: none;
  width: 100%;
  height: 50px;
  border-top: 1px solid #d7d8db;
  font-weight: 400;
  border-bottom: 1px solid #d7d8db;
  color: #b7bcc2;
  background-color: #000;
}

.login1 {
  background-color: #3678c2;
}

.logo {
  width: 38%;
  height: 100px;
  margin-top: 50%;
}

.root_botom a {
  list-style: none;
}

.buttons_login {
  height: 18%;
  width: 100%;
}

.logo_image {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
}
