@import url('https://fonts.cdnfonts.com/css/proxima-nova-2');

html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
}

.logo {
  margin-top: 8%;
}

p {
  margin: 0;
}

.section_new {
  width: 348px;
  max-width: 767px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-height: 535px;
  background-color: #f1f3f2;
}

.form_new_login {
  width: 100%;
  display: flex;
  gap: 0;
  flex-direction: column;
}

input#user_email,
input#user_password {
  width: 99%;
  height: 46px;
  background: white;
  border: 0;
  border-top: 1px solid #d7d8db;
  font-weight: 400;
  border-bottom: 1px solid #d7d8db;
}

input#user_email {
  margin-top: 5%;
}

.login_links {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0% 0 5% 0;
}

.login_links a {
  width: 100%;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  list-style: none;
  color: #878a8f;
}

.logo_login {
  width: 10%;
  margin-left: 2%;
}

.header_login {
  width: 100%;
  display: flex;
  height: 57px;
  justify-content: space-between;
  align-items: center;
  background-color: #3678c2;
  color: white;
}

.boton_login {
  border: none;
  background: none;
  color: white;
  font-size: 1em;
}

.login_title {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  margin: 0;
}

.return_home {
  width: 100%;
}

.notice {
  text-align: center;
  width: 100%;
  color: green;
  margin-top: 3%;
}

.alert {
  text-align: center;
  width: 100%;
  color: red;
  margin-top: 3%;
}

.return_home_link {
  width: 10%;
  margin-left: 2%;
}
