@import "../application.css";

.new_register {
  width: 348px;
  max-width: 767px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  min-height: 535px;
  background-color: #f1f3f2;
}

div#error_explanation {
  width: 240px;
}

div#error_explanation ul {
  padding: 7%;
}

input#user_password_confirmation,
input#user_name,
input#user_second_name {
  width: 85%;
}

.header_login {
  width: 100%;
  display: flex;
  height: 57px;
  justify-content: space-between;
  align-items: center;
  background-color: #3678c2;
  color: white;
}

.login_title {
  color: white;
  font-weight: 500;
  font-size: 1.5em;
  margin: 0;
}

.return_home {
  width: 100%;
}

a {
  width: 11%;
  margin-left: 2%;
}

.button_next {
  border: none;
  background: none;
  color: white;
  font-size: 1em;
}

input#user_name,
input#user_second_name,
input#user_email,
input#user_password,
input#user_password_confirmation {
  width: 99%;
  height: 46px;
  background: white;
  border: 0;
  border-top: 1px solid #d7d8db;
  font-weight: 400;
  border-bottom: 1px solid #d7d8db;
}
