@import "../application.css";

.section_group_new {
    width: 348px;
    max-width: 767px;
    /* display: flex; */
    justify-content: center;
    /* flex-wrap: wrap; */
    min-height: 535px;
    background-color: #f1f3f2;
    text-align: center;
 }

.header_new {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #306aaa;
    height: 57px;
    color: white;
}

.logo_new {
    width: 30px;
    margin-left: 1%;
}

.home_page {
    width: 10%;
    margin-left: 3%;
}

.subtitle_new {
    margin: 0;
    margin-left: 5%;
    font-size: 1.4em;
}

.form_new_group {
    height: 225px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4%;
    align-items: center;
}
 .create_category{
    border: none;
    background: none;
    color: white;
    font-size: 1em;
}
 

input#group_name, input#group_icon{
    width: 346px;
    height: 46px;
    background: white;
    border: 0;
    border-top: 1px solid #d7d8db;
    font-weight: 400;
    border-bottom: 1px solid #d7d8db;
}
