@import "../application.css";
.new_reset_confirm {
    
    width: 348px;
    max-width: 767px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    min-height: 535px;
    background-color: #f1f3f2;
 }
.header_login{
    width: 100%;
    display: flex;
    height: 57px;
    justify-content: space-between;
    align-items: center;
    background-color: #3678c2;
    color: white;
}
.login_title{
    color: white;
    font-weight: 500;
    font-size: 1.5em;
    margin: 0;
}

.return_home {
    width: 100%;
}

a{
    width: 11%;
    margin-left: 2%;
}

.button_send {
    border: none;
    background: none;
    color: white;
    font-size: 1em;
}

input#user_password_confirmation,
input#user_password

  {
    width: 99%;
    height: 46px;
    background: white;
    border: 0;
    margin-top: 5%;
    border-top: 1px solid #d7d8db;
    font-weight: 400;
    border-bottom: 1px solid #d7d8db;
}