<div id="<%= dom_id budgets_group %>">
  <p>
    <strong>Group:</strong>
    <%= budgets_group.group_id %>
  </p>

  <p>
    <strong>Budget:</strong>
    <%= budgets_group.budget_id %>
  </p>

</div>
