<h1>Editing budgets group</h1>

<%= render "form", budgets_group: @budgets_group %>

<br>

<div>
  <%= link_to "Show this budgets group", @budgets_group %> |
  <%= link_to "Back to budgets groups", budgets_groups_path %>
</div>
